.layout {
    height: 100vmin;
  }

  /* header样式 */
  .header {
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  }
  .header>img {
  height: 50px;
  width: 50px;
  }
  .header>div {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  }
  .selector {
    /* width: 600px; */
    margin-left: 200px;
    text-align: center;
    font-weight: bold;
  }

  /* content样式 */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_main_manage {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0px 10px;
  }
  .button {
    width: 100px;
    margin: 5px 0px;
  }

  /* footer样式 */
  .footer {
  width: 100%;
  text-align: center;
  }
  .remember {
  margin-left: -150px;
  }
  .sub-register {
  text-align: center;
  }
